h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.colors {
  background-color: #008971;
}

.cursor {
  cursor: pointer;
  position: absolute;
  margin-top: -40px;
  margin-left: 220px;
}

.cursor-pointer {
  cursor: pointer;
}

.text-disabled {
  color: rgb(82, 82, 82);
}

.rounded-lg {
  border-radius: 15px !important;
}
/* 
.margin-none {
  padding: 0 !important;
  margin: 0 !important;
} */

.btn-pink {
  color: #fff;
  background-color: #d80b4f;
  border-color: #d80b4f;
}

.btn-pink:hover {
  color: #fff;
  background-color: #d80b4f;
  border-color: #d80b4f;
}

/* 38AEFA */

.new-color {
  background-color: #0071ff !important;
}

.full-height {
  height: 100vh;
}

.height {
  height: 200px;
}

.position {
  margin-top: -50px;
}

.borders {
  border: 2px solid #0071ff;
  cursor: pointer;
  border-radius: 13px;
  height: 150px !important;
  width: 390px !important;
}

/* .control {
} */

/* @media (max-width: 500px) {
  .borders {
    height: 120px !important;
    width: 300px !important;
  }
} */
