@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&display=swap');

h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  color: #858585;
}

.colors {
  background-color: #008971 !important;
}

.cursor {
  cursor: pointer !important;
  position: absolute !important;
  margin-top: -40px !important;
  margin-left: 220px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.text-disabled {
  color: rgb(82, 82, 82) !important;
}

.rounded-lg {
  border-radius: 15px !important;
}
/* 
.margin-none {
  padding: 0 !important;
  margin: 0 !important;
} */

.btn-color {
  color: #fff !important;
  background-color: #3a88fb !important;
  border-color: #3a88fb !important;
}

.btn-pink {
  color: #fff !important;
  background-color: #3a88fb !important;
  border-color: #3a88fb !important;
}

.btn-pink:hover {
  color: #fff !important;
  background-color: #3a88fb !important;
  border-color: #3a88fb !important;
}

/* 38AEFA */

.new-color {
  background-color: #3a88fb !important;
}

.text-blue {
  color: #3a88fb !important;
}

.full-height {
  height: 100vh !important;
}

.height {
  height: 200px Im !important;
}

.position {
  margin-top: -40px !important;
}

.borders {
  border: 1px solid #0073ff69 !important;
  cursor: pointer !important;
  border-radius: 13px !important;
  height: 150px !important;
  width: 100px !important;
}

.starts {
  margin-left: 82px;
  width: 550px;
}

.month select,
.year select {
  width: 145px !important;
  padding: 10px !important;
  /* border: 2px solid rgb(214, 214, 214); */
  border-radius: 6px !important;
  /* background: url('caret.png') no-repeat; */
  background-position: 85% 50% !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
}

.months {
  background-color: #ebebeb !important;
  color: #707070 !important;
}

.fonts {
  font-weight: 300 !important;
  font-size: 12px !important;
}

.bg-pay {
  margin-top: -50px !important;
  background-color: #f6f5fe !important;
  width: 100vw !important;
  height: 107vh !important;
}

.w-60 {
  width: 53% !important;
}

.checks::placeholder {
  color: #b6b6b6 !important;
  /* text-align: center; */
}

.text-ash {
  color: #b6b6b6 !important;
}

.bg-ash {
  background-color: #d4d4d4 !important;
}

.checks {
  border: 0 !important;
}

.widths {
  margin: 0 !important;
  width: 100px !important;
  /* height: 170px !important; */
}

.bg-pays {
  background-color: #f6f5fe !important;
}

.ms-6 {
  margin-left: 130px !important;
}

.w-70 {
  width: 50% !important;
}
.center {
  margin-left: 65px !important;
}

.check-weight {
  font-size: 12;
  font-weight: 300 !important;
}

.check-color {
  background-color: transparent !important;
}

.radios {
  width: 10px !important;
  height: 10px !important;
}

.rounds-start {
  border-top-left-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
  border-color: transparent !important;
}

.rounds-end {
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
  border-color: transparent !important;
}

.bgs {
  background-color: #f0f0f0 !important;
}

.bg-pa {
  background: linear-gradient(to bottom, rgba(28, 52, 82, 0.7), rgba(28, 52, 82, 0.7)),
    url('./assets/unnamed.jpg') !important;
  /* width: fit-content; */
  background-repeat: repeat-x !important;
  background-position-y: center !important;
  background-size: contain !important;
  height: 180px;
  /* background-clip: ; */
  /* background-color: #1c3452; */
}

.shadow-blue {
  box-shadow: 0 0 25px 5px #0069e931 !important;
}

.colorss {
  background-color: #0048cf96 !important;
}

/* .h-autos {
  max-height: 110px !important;
} */

.glassmorphism {
  /* other styles */
  background: rgba(255, 255, 255, 0.7) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
}

.glassmorphisms {
  /* other styles */
  background: rgba(255, 255, 255, 0.5) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
}

.widthss {
  width: 700px !important;
}

.margins {
  margin-top: -40px !important;
}

.bg-images {
  /* background: linear-gradient(rgba(28, 52, 82, 0.3), rgba(28, 52, 82, 0.3)),
    url('./assets/animals.jpg'); */
  background-image: url('./assets/edited_animals.jpg') !important;
  background-size: 215px !important;
  background-repeat: no-repeat !important;
  background-position-x: 223px !important;
}

.moves {
  position: absolute !important;
  margin-top: -40px !important;
  margin-left: 96px !important;
}

.amounts {
  position: absolute !important;
  margin-top: -46px !important;
  margin-left: 500px !important;
  color: #000000 !important;
  background-color: #f5f5f5 !important;
}

.shift {
  position: absolute !important;
  margin-top: -44px !important;
}

.recieved {
  position: absolute !important;
  margin-top: -40px !important;
  margin-left: 280px !important;
}

.profile {
  margin-left: 970px !important;
}

.bg-image {
  background-image: url('./assets/success1.gif') !important;
  background-repeat: no-repeat !important;
  background-size: auto !important;
}

.size {
  width: 610px;
  border: thin solid #e2e2e2 !important;
}

.imgss {
  width: 438px;
}

.success-bg {
  background-image: url('./assets/confetti.gif');
}

.success-image {
  position: absolute;
  margin-left: -210px;
  margin-top: 70px;
}

.payment-border {
  border: 1px solid rgb(176, 176, 176) !important;
}

.yh {
  margin: 0 !important;
}

.cls-1-11 {
  fill: url(#linear-gradient11);
}
.cls-2-1 {
  fill: url(#linear-gradient-21);
}
.cls-4-1 {
  fill: #ffffff;
}

.def-width {
  background-color: #ededed;
  width: 100px;
}

.bg-massai {
  background: linear-gradient(rgba(112, 112, 112, 0.7), rgba(79, 79, 79, 0.7)), url('./assets/animals.jpg');
}

.bg-yellow {
  background-color: rgba(202, 202, 0, 0.87);
}

.bg-green {
  background-color: rgba(12, 227, 12, 0.568);
}

.name {
  margin-left: 50px;
}

.role {
  margin-left: 180px;
}

.showRole {
  margin-left: 180px;
}

.action {
  margin-left: 500px;
}

.showAction {
  margin-left: 430px;
}

.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/animals.jpg') !important;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.africa {
  background-image: url('./assets/unnamed.jpg') !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 40vw;
  height: 100vh;
}

.img-width {
  margin-top: -20px;
  width: 30vw;
}

.height-and-width {
  width: 100vw;
  height: 100vh;
}

.payout-text {
  margin-left: 180px;
}

.bg-ranger {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./assets/ranger.jpg') !important;
  /* background-size: cover; */
  background-repeat: no-repeat;
}

.hh-100 {
  height: 100vh;
}

@media (max-width: 500px) {
  .bord {
    display: none !important;
  }
  .amounts {
    position: absolute !important;
    margin-top: 10px !important;
    margin-left: 200px !important;
  }
  .profile {
    margin-left: 100px !important;
  }

  .size {
    width: 350px;
  }

  .cards-start {
    margin-left: 0px !important;
  }

  .starts {
    margin-left: 20px;
    width: 370px;
  }

  .resp-width {
    width: 150px !important;
  }

  .name {
    margin-left: 5px;
  }
  .role {
    margin-left: 6px;
  }

  .showRole {
    margin-left: 10px;
  }

  .action {
    margin-left: 50px;
  }

  .showAction {
    margin-left: 40px;
  }

  .img-width {
    width: 95vw;
  }

  .africa {
  background-image: url('./assets/unnamed.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 5vw;
  height: 100vh;
}

.height-and-width {
  width: 100vw;
  height: max-content;
}

.resp-margin {
  margin-left: 50px;
}

.payout-text {
  margin-left: 50px;
}

.hh-100 {
  height: max-content;
}
}
