@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.colors {
  background-color: #008971;
}

.cursor {
  cursor: pointer;
  position: absolute;
  margin-top: -40px;
  margin-left: 220px;
}

.cursor-pointer {
  cursor: pointer;
}

.text-disabled {
  color: rgb(82, 82, 82);
}

.rounded-lg {
  border-radius: 15px !important;
}
/* 
.margin-none {
  padding: 0 !important;
  margin: 0 !important;
} */

.btn-color {
  color: #fff;
  background-color: #0071ff;
  border-color: #0071ff;
}

.btn-pink:hover {
  color: #fff;
  background-color: #0059ff;
  border-color: #0059ff;
}

.btn-pink {
  color: #fff;
  background-color: #d80b4f;
  border-color: #d80b4f;
}

.btn-pink:hover {
  color: #fff;
  background-color: #d80b4f;
  border-color: #d80b4f;
}

/* 38AEFA */

.new-color {
  background-color: #0071ff !important;
}

.text-blue {
  color: #0071ff;
}

.full-height {
  height: 100vh;
}

.height {
  height: 200px;
}

.position {
  margin-top: -50px;
}

.borders {
  border: 2px solid #0071ff;
  cursor: pointer;
  border-radius: 13px;
  height: 150px !important;
  width: 390px !important;
}

/* .control {
} */

/* @media (max-width: 500px) {
  .borders {
    height: 120px !important;
    width: 300px !important;
  }
} */

.month select,
.year select {
  width: 145px;
  padding: 10px;
  /* border: 2px solid rgb(214, 214, 214); */
  border-radius: 6px;
  /* background: url('caret.png') no-repeat; */
  background-position: 85% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.months {
  background-color: #ebebeb;
  color: #707070;
}

.fonts {
  font-weight: 300;
  font-size: 12px;
}

.bg-pay {
  margin-top: -50px;
  background-color: #f6f5fe;
  width: 100vw;
  height: 107vh;
}

.w-60 {
  width: 53%;
}

.checks::placeholder {
  color: #b6b6b6;
  /* text-align: center; */
}

.checks {
  border: 0;
}

.widths {
  margin: 0 !important;
  width: 170px !important;
  height: 170px !important;
}

.bg-pays {
  background-color: #f6f5fe;
  /* width: 100vw !important; */
}

.ms-6 {
  margin-left: 100px !important;
}